* {
	box-sizing: border-box;
	line-height: 1;
	font-family: 'PT Sans';
}

a {
	text-decoration: none;
}

h2 {
	font-family: 'Francois One';
	font-weight: 400;
	font-size: 36px;
	line-height: 48px;
	text-transform: uppercase;
	margin-bottom: 40px;

}

p {
	font-family: 'PT Sans';
	font-weight: 400;
	font-size: 28px;
	line-height: 48px;

}

p:not(:last-of-type) {
	margin-bottom: 40px;
}

p:last-of-type {
	margin-bottom: 60px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* !header */
.header {
	min-height: 80px;
}

.header .container {
	display: flex;
	justify-content: space-between;
}


.menu {
	max-width: 400px;
	display: flex;
	align-items: center;


}

.menu a {
	margin-right: 50px;
}

.list-menu {
	min-height: 80px;
	display: flex;
	align-items: center;
	padding-right: 5px;
}

.button {
	padding: 0 5px;
	font-family: 'Tourney';
	font-weight: 600;
	font-size: 22px;
	color: black;

}

.menu-item {
	font-family: 'Staatliches';
	color: #000;
	margin: 0 5px;
	letter-spacing: 0.03em;
	font-size: 22px;
	font-weight: 400;
}



.menu-item a {
	font-family: 'Staatliches';
	color: #000;
	margin: 0 5px;
}

/* !main */
main {
	padding: 60px 0 0 0;
}

.underline {
	text-decoration: underline;
}

.bolt {
	font-weight: 600;
}

.italic {
	font-family: 'PT Sans';
	font-weight: 400;
	font-size: 28px;
	line-height: 48px;
	font-style: italic;
}

.bg {
	background-color: #DADADA;
}

.chapter {
	font-family: 'Farro';
	font-weight: 300;
	font-size: 16px;
	text-transform: none;
	position: relative;
	top: -23px;
}

@media only screen and (max-width: 930px) {


	.header {
		min-height: 60px;
	}

	.header .container {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		min-height: 60px;
	}

	.header .container img {
		width: 300px;
		margin-bottom: 15px;
	}

	.menu {
		display: flex;
		flex-direction: column-reverse;
	}

	.menu a {
		margin-right: 0;
	}

	.list-menu {
		min-height: 44px;
		padding-right: 0px;

	}

	.button {
		font-size: 26px;
		padding: 10px;
	}

	.menu-item {
		font-size: 26px;
	}

	.menu-item a {
		margin: 0 5px;
	}

	/* !main */

	main {
		padding: 30px 0 0 0;
	}

	.list-content li h2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 40px;
		position: relative;
	}

	p:not(:last-of-type) {
		margin-bottom: 20px;
	}

	p:last-of-type {
		margin-bottom: 30px;
	}



	h2 {
		font-size: 28px;
	}

	p {
		font-size: 18px;
		line-height: 28px;
	}

	.italic {
		font-size: 18px;
	}

	.chapter {
		position: absolute;
		font-size: 14px;
		top: 35px;
	}
}

@media only screen and (max-width: 500px) {
	.container {
		padding: 0 10px;
	}

	.header {
		min-height: 44px;
	}

	.header .container {
		min-height: 44px;
	}

	.header .container img {
		width: 300px;
	}

	.list-menu {
		min-height: 44px;
	}

	.button {
		padding: 10px;
		font-size: 24px;

	}

	.menu-item {
		font-size: 24px;
	}

	.menu-item a {
		margin: 0 0px;
	}

	/* !main */
	main {
		margin-bottom: 15px;
	}



	h2 {
		font-size: 26px;
		line-height: 48px;
	}

	p {
		font-size: 16px;
		line-height: 24px;

	}

	.italic {
		font-size: 16px;
		line-height: 48px;
	}

	.chapter {
		font-size: 12px;

	}
}